{% include 'navbar.html' %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<div class="ui text container">
	<div class="ui comments">
	  <div class="comment">
	   
	    <div class="content">
	      <a class="author">User</a>
	      <div class="metadata">
	        <div class="date">2 days ago</div>
	      </div>
	      <div class="text">
	        {{ read_post.description }}
	      </div>
	      <div class="actions">
	        <a class="reply active">Reply</a>
	      </div>
	      <form class="ui reply form"method="POST" action="{% url 'reply' read_post.id %}">
	      	{% csrf_token %}
	        <div class="field">
	          <textarea name="content" placeholder="reply"></textarea>
	        </div>
	        <div class="field">
	          <input type="hidden" name="custId" value="{{read_post.id}}">
	        </div>
	        <button class="ui reply blue button" type="submit">Add reply </button>
	      </form>
	    </div>
	  </div>
	</div>
	
</div>
	
	  