.user-avater
{
  width: 50px;
}

.username
{
  font-family: 'Fira Sans Condensed', sans-serif;
}
.nav-title
{
  font-family: 'Rampart One', cursive;
}

/* font-family: 'Bebas Neue', cursive;
font-family: 'Cookie', cursive;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Genos', sans-serif;
font-family: 'IM Fell English SC', serif;
font-family: 'Inconsolata', monospace;
font-family: 'Indie Flower', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Rampart One', cursive;
font-family: 'Roboto', sans-serif; */